body {
  background-color: darkolivegreen;
}

.contenedor {
  background-color: white;
}

/* Aplicamos un estilo para que la tabla ocupe todo el ancho */
/* Aplicamos el borde a la tabla */
/* Quitarle el doble borde a la tabla */
/* Agregamos relleno */
table {
  width: 100%;
  border: 3px solid darkblue;
  border-collapse: collapse;
}
table thead th,
table tbody td {
  border: 3px solid darkorchid;
  padding: 5px;
}

/* Aumentamos la altura de los th */
/* Alineamos al centro los valores del th */
th {
  height: 45px;
  text-align: center;
  vertical-align: top;
}

/* Agregamos un fondo y un valor de la letra cuando pasamos por la fila */
table tbody tr:hover {
  background-color: black;
  color: white;
}

/* Agreamos los estilos para la tabla 1 */
.tabla1 {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

.tabla1 td,
.tabla1 th {
  border: 1px solid gainsboro;
  padding: 8px;
}

.tabla1 th {
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: left;
  background-color: darkblue;
  color: white;
}

.tabla1 tr:hover {
  background-color: skyblue;
  color: darkblue;
}
