/* Importamos letras de Google */
@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap");

* {
  padding: 15px;
}

body {
  background-color: red;
}

.contenedor {
  background-color: white;
}

/* Agregamos tipos de letras */
.parrafo1 {
  font-family: "Times New Roman", Times, serif;
}
.parrafo2 {
  font-family: Georgia, "Times New Roman", Times, serif;
}
.parrafo3 {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/* Aplicamos estilos a la letra */
.parrafo4 {
  font-style: italic;
}
.parrafo5 {
  font-style: oblique;
}
.parrafo6 {
  font-style: normal;
}
.parrafo7 {
  font-weight: bold;
}
.parrafo8 {
  font-weight: bolder;
}

.parrafo9 {
  font-variant: small-caps;
}

.parrafo10 {
  font-variant: normal;
}

.parrafo11 {
  font-size: 15px;
}

/* Llamamos a al fuente importada desde Google */
.parrafo12 {
  font-family: "Dancing Script", cursive;
}

/* Utilizamos las fuentes descargadas */
@font-face {
  font-family: "anton";
  src: url(/FONTS/Anton-Regular.ttf);
}

@font-face {
  font-family: "frederick";
  src: url(/FONTS/FrederickatheGreat-Regular.ttf);
}

@font-face {
  font-family: "itim";
  src: url(/FONTS/Itim-Regular.ttf);
}

@font-face {
  font-family: "spidey";
  src: url(/FONTS/Mightyspidey-pmaa.ttf);
}

@font-face {
  font-family: "iron";
  src: url(/FONTS/IronManOfWar001CNcv-9W7K.ttf);
}

/* Llamaremos a la funete descargada desde Google  */
.parrafo13 {
  font-family: "anton";
}

.parrafo14 {
  font-family: "frederick";
}

.parrafo15 {
  font-family: "itim";
}

.parrafo16 {
  font-family: "spidey";
}

.parrafo17 {
  font-family: "iron";
}
