i {
  font-size: 30px;
}

.fa-facebook {
  color: #3b5998;
}

.fa-youtube {
  color: #ff0000;
}

.fa-instagram {
  color: #5851db;
}

.fa-github {
  color: #6e5494;
}

.fa-money-bill-alt {
  color: #279b37;
}
