body {
  background-color: darkgreen;
}
/* Definiendo el ancho y el alto de una caja */
.contenedor {
  background-color: darkmagenta;
  width: 1024px;
  height: 768px;
  margin: auto;
}

.caja1 {
  background-color: darkseagreen;
  width: 450px;
  height: 200px;
  margin-left: 80px;
}

.caja2 {
  background-color: darkturquoise;
  width: 350px;
  height: 110px;
  margin-top: 250px;
  margin-right: 150px;
}

.caja3 {
  background-color: khaki;
  width: 150px;
  height: 150px;
  margin: auto;
}
